*{
  background-color: #282c34;
  color: rgb(218, 218, 216);
  padding: 0px;
}

a:visited{
  color: rgb(218, 218, 216);;
}

.Weeks{
  background-color: black;
  padding: 5px;
  margin: 10px;
  border: 2px solid darkcyan;
  border-radius: 10px;
  text-align: center;
}
.Weeks p, span{
  background-color: black;
  color: rgb(80, 241, 241);
 
}

.General{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}








.Error {
  color: crimson;
  font-size: 0.7em;
  width: max-content;
}



form {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: left;
  font-weight: bold;
  font-size: large;
 
}

.InputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}



input {
  margin: 4px;
  height: 20px;
  background-color: rgb(204, 204, 185);;
  color: black;
  font-weight: bolder;
}

button {
  width: fit-content;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(235, 108, 91);
  align-self: center;
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
 
  margin: 20px 0;
}

li:hover{
  color: red;
  font-size: larger;
  
}