*{
  background-color: #282c34;
  color: rgb(218, 218, 216);
}

a:visited{
  color: rgb(218, 218, 216);;
}

.Weeks{
  background-color: rgb(145, 153, 160);
  padding: 5px;
  margin: 10px;
}
.Weeks p{
  background-color: rgb(145, 153, 160);
 
}

.General{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.Goals input{
  vertical-align: middle;
}

.Goals label{
 background-color: black;
 width: fit-content;
 align-self: center;
 padding: 3px 10px;
}
.Goals input:hover{
  width: 2rem;
  height: 1.2rem;
}

.Goals{
  margin: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.Error {
  color: crimson;
  font-size: 0.7em;
  width: max-content;
}



form {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: left;
  font-weight: bold;
  font-size: large;
 
}

.InputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input {
  margin: 4px;
  height: 20px;
  background-color: rgb(204, 204, 185);;
  color: black;
  font-weight: bolder;
}

button {
  width: fit-content;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(235, 108, 91);
  align-self: center;
  color: black;
}
