*{
  background-color: #282c34;
  color: beige;
}

nav {
  display: flex;
  justify-content: space-between;
}

.Error {
  color: crimson;
  font-size: 0.7em;
  width: max-content;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;

}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: left;
  font-weight: bold;
  font-size: large;
 
}

.InputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

input {
  margin: 4px;
  height: 20px;
  background-color: beige;
  color: black;
  font-weight: bolder;
}

button {
  width: fit-content;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: rgb(235, 108, 91);
  align-self: center;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
